@{
    ViewBag.Title = "Movie Viewer";
}

@model MovieViewer.ViewModel.MoviesViewModel


<div class="row">
    <div class="col-sm-12 panel panel-info">
        <!-- Panel title -->
        <div class="panel-heading" style="text-align:center">
            Movie Viewer
        </div>
        <!-- Panel body -->
        <div class="panel-body">

            @*<div class="row">
                <!---Popular Movies List-->
                @foreach (var item in Model.movies)
                {
                    <div class="col-lg-3">
                        @item.title<br />
                    </div>
                    <div class="col-lg-9">
                        <img src="https://image.tmdb.org/t/p/w342/@item.poster_path" />
                    </div>
                }
                <!--Select Move Description and poster-->

            </div>*@

                <div class="row">
                    <div class="col-lg-6">
                        <table id="MoviesTable" class="table table-bordered nowrap dataTable dtr-inline" style="width:100%;overflow:auto;text-align:left" role="grid" aria-describedby="MoviesTable">
                            <thead>
                                <tr role="row" style="background-color:#337ab7;color:white">
                                    <th style="text-align:left" hidden id="movieID" class="sorting" tabindex="0" aria-controls="MoviesTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">ID  </th>
                                    <th style="text-align:left" id="" class="sorting" tabindex="0" aria-controls="MoviesTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Movie Title </th>
                                </tr>
                            </thead>

                            <tbody id="mytds"></tbody>

                            <tfoot>
                                <tr role="row" style="background-color:#337ab7;color:white">
                                    <th style="text-align:left" class="sorting" tabindex="0" aria-controls="LocPartnerTable" rowspan="1" colspan="1" aria-label="">ID        </th>
                                    <th style="text-align:left" class="sorting" tabindex="0" aria-controls="LocPartnerTable" rowspan="1" colspan="1" aria-label="">MOvie Title   </th>
                                </tr>
                            </tfoot>
                        </table>
                        <label hidden id="pageNum">@Model.pageNum</label>
                        <div class="col-lg-3"><button id="first" class="btn btn-default">First</button></div>
                        <div class="col-lg-3"><button id="previous" class="btn btn-default">Previous</button></div>
                        <div class="col-lg-3"><button id="next" class="btn btn-default">Next</button></div>
                        <div class="col-lg-3"><button id="last" class="btn btn-default">Last</button></div>
                    </div>
                    <div class="col-lg-6">
                        <h2 id="movieTitle"></h2>
                        <img id="imagePoster" src="https://image.tmdb.org/t/p/w342/@Model.movies.Where(m=>m.id == 4).Select(m=>m.poster_path).FirstOrDefault()" />
                        <div id="movieDescr">@Model.movies.Where(m => m.id == 467).Select(m => m.overview).FirstOrDefault()</div>
                    </div>
                </div>       
        </div>
    </div>
</div>





