@{
    ViewBag.Title = "Movie Viewer";
}

@model MovieViewer.ViewModel.MoviesViewModel



<div class="row">
    <div class="col-sm-12 panel panel-info">
        <!-- Panel title -->
        <div class="panel-heading" style="text-align:center">
            Movie Viewer
        </div>
        <!-- Panel body -->
        <div class="panel-body">
            
            <div class="row">
                <!---Popular Movies List-->
                @foreach (var item in Model.movies)
                {
                    <div class="col-lg-3">
                        @item.title<br />
                    </div>
                    <div class="col-lg-9">
                        <img src="https://image.tmdb.org/t/p/w500/@item.poster_path" />
                    </div>
                }
                <!--Select Move Description and poster-->

            </div>
        </div>
        </div>
</div>
